<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Welcome - Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <img src="https://www.bolster.eu/media/images/5450_dbweb.jpg?1549350221" width="200" height="200">
	<br>
	<br>
	<p th:text="${quotes[number]}" />
	<br>
	<br>
	Repository
	<centre><a href="https://gitlab.com/maverick12/cloud">https://gitlab.com/maverick12/cloud</a></centre>
</body>
</html>